body {
	background-color: black;
}
h1 {
	color: white;
	font-family: 'Lilita One', cursive;
}

h2 {
	color: white;
	font-family: 'Lilita One', cursive;
}

#a {
	text-align: center;
}
#b {
	text-align: center;
}

.album {
	transition: .5s ease;
	opacity: .5;
}
.album:hover {
	opacity: 1;
}

p {
	color: white;
	font-family: 'Montserrat', sans-serif;
}

td {
	color:white;
	padding:5px;
	font-family: 'Montserrat', sans-serif;
}

button {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
	border-radius: 2px;
}

button:hover {
	background-color: gray;
	color: white;
}

a {
	font-family: 'Montserrat', sans-serif;
}

a:link {
  text-decoration: none;
	color: gray;

}

a:hover {
  text-decoration: none;
	color: white;
}

a:active {
  text-decoration: none;
		color: white;
}

a:visited {
	text-decoration: none;
	color: gray;
}

.container {
  position: relative;
  width: 50%;
	margin: 0 auto;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.container:hover .overlay {
  opacity: .75;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
	font-family: 'Montserrat', sans-serif;
}
